@{
    ViewBag.Title = "Unauthorized";
}

<h2 style="background-color:red">You do not have proper role to access the web page!!! Contact website Admin.</h2>
<img src="~/images/warning.png" alt="Error" style="width:400px;height:300px;">