#fullcalender {
    font-family: 'Roboto', sans-serif;
    font-size:10px;
}
.fc-day-number{
    font-size:13px;
    padding-top:10px !important;
    padding-right:10px !important;
}
.fc-day-header {
    font-size: 12px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.leave-list-item img{
    width:80px;
    text-align:center;
    float:left;
}
.btn{
    font-size:12px !important;    
}
.box-title{
    font-size:14px !important;
    
}
input[type='text'] { font-size: 12px !important; }
select {
    font-size: 12px !important;
}

.required:after 
{
    content: "*";
    font-weight: bold;
    color: red !important;
}
.table-condensed th {
    padding-left: 10px !important;
}

